.products-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.product-card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 20rem;
  padding: 1rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  position: relative;
  transition: 0.5s;
}
.product-card button {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
.product-card:hover {
  transform: scale(1.05);
  background-color: lightcyan;
}
